#define VER_VERSION 2,0,2,0
//The version parameter is two 32-bit integers, defined by four 16-bit integers.
#define VER_VERSION_STR "2.0.2"
#define VER_ORIGINALFILENAME_STR "libfdk-aac-2.dll"
//#define VER_LEGALCOPYRIGHT_STR "(c) something"

1 VERSIONINFO
//Version-information resource identifier. This value must be 1.
FILEVERSION VER_VERSION
PRODUCTVERSION VER_VERSION
FILEOS 0x4
//VOS_NT 0x4 File was designed for 32-bit Windows.
FILETYPE 0x2
//VFT_DLL 0x2 File contains a dynamic-link library (DLL).

{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "FileDescription", "A standalone library of the Fraunhofer FDK AAC code from Android."
		VALUE "FileVersion", VER_VERSION_STR
//		VALUE "LegalCopyright", VER_LEGALCOPYRIGHT_STR
		VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
		VALUE "ProductVersion", VER_VERSION_STR
		VALUE "ProductName", "libfdk-aac"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 1252
}
}
